.emailForm{
width: 900px;
margin-top: 20px;
margin-left: 200px;
/* background-color: aqua; */
}
.emailFormTop{
    display: flex;
    width: 100%;
    margin: auto;
    padding-left: 1rem;
    border: none;
    border-bottom: 1px solid rgb(98, 44, 44);
}
.emailFormTop input{
    width: 90%;
    border: none;
}
.emailFormTop input:focus{
    outline: none;
}

.inputFrom:focus{
    outline: none;
border: none !important;
}
.middle{
    display: flex;
    width: 100%;
    margin: auto;
    padding-left: 1rem;
    border: none;
    border-bottom: 1px solid rgb(98, 44, 44);
   /* background-color: red; */

}
.middle input{
    width: 100%;
    padding-left: 1rem;
    border: none;
}
.textarea{
    width: 100%;
  
}
